<div class="add-todo-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Nueva Tarea</h2>

  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <input
        class="textbox"
        ngModel
        #textField="ngModel"
        name="text"
        type="text"
        placeholder="Ingrese su tarea..."
        required
        minlength="3"
      />
      <ng-container *ngIf="showValidationErrors && textField.invalid">
        <p *ngIf="textField.errors.required">
          Por favor, introduzca un texto para esta tarea
        </p>
        <p *ngIf="textField.errors.minlength">
          El texto de tareas pendientes debe tener al menos 3 caracteres.
        </p>
      </ng-container>
    </div>

    <div class="btns-container">
      <a routerLink="../" class="btn">Cancelar</a>
      <button class="btn align-end">Crear Tarea</button>
    </div>
  </form>
</div>
